body {
  background-color: #ffffff;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.09)'%3E%3Ccircle data-color='outline' fill='none' stroke='%23B6B6B6' stroke-width='10.61' cx='50' cy='50' r='.5'%3E%3C/circle%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E")
    repeat fixed 0 0;
}
input {
  font-family: consolas;
}
TextField {
  font-family: consolas;
}
